/* Importaciones */
.mapa {
  width: 100%;
  height: 100%; }

img {
  height: 2.5rem; }

.bg-image {
  background-image: url(/assets/IMG_5974.JPG);
  background-size: cover; }

#menu img {
  width: 100%;
  height: 80%;
  border-radius: 15px; }

#nosotros img {
  width: 100%;
  height: 80%;
  border-radius: 15px; }

/* Variables */
body {
  background-color: #000;
  font-family: "Outfit", sans-serif;
  /* Suavizado de scroll */
  scroll-behavior: smooth; }

.redes {
  font-size: 35px;
  padding: 10px;
  color: #fff; }
